
//** Colors **//

$main-header-bg: #191B22;
$main-bg: #2E3040;
$sidebar-bg: #252734;

$brand-primary: #38A8CA;
$brand-success: #24C33A;
$brand-info : $brand-primary;
$brand-warning: #FFB429;
$brand-danger: #FF554F;

$tag-red: #FF6159;
$tag-green: #6BCC5D;
$tag-orange: #FAA649;
$tag-yellow: #F6CF54;
$tag-blue: #33B8F2;
// $tag-gray: ;
$tag-purple: #D187DF;